.log-button {
    font-size: 16px;
    font-family: PingFang SC;
    width: 70;
    height: 40;
    margin-top: 7px;
}

.navbar-text {
    margin-top: 0;
    font-size: 16px;
}

#background {
    height: 700px;
    background-image: url("../UI_png/customerMain/background.png");
}

.slogan {
    margin-top: 200px;
    font-size: 50px;
    font-family: PingFang SC;
    color: white;
}

.form-customer {
    margin-top: 200px;
    width: 287px;
}

.textInput {
    margin-top: 30px;
    border-radius: 10px !important;
}

.jumpLink {
    float: right;
    display: inline-block;
    margin-top: 30px;
    color: white;
    text-decoration: underline;
    font-size: 14px;
    font-family: PingFang SC;
}
